<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>702922977130-9kb440o8g7flck5b4nrtqdf95f5pnrl8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.702922977130-9kb440o8g7flck5b4nrtqdf95f5pnrl8</string>
	<key>API_KEY</key>
	<string>AIzaSyDjeAWtV15K-X0hggE3dJFjwawIjclEB9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>702922977130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test2.Tenland</string>
	<key>PROJECT_ID</key>
	<string>tenland-a303b</string>
	<key>STORAGE_BUCKET</key>
	<string>tenland-a303b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:702922977130:ios:875d8c9d950ac222383f13</string>
</dict>
</plist>